header {
  .lf-player-container {
    height: fit-content;
  }

  #mobileAvatarContainer {
    & > .mobileAvatar {
      margin: 0.5em 2em 0 0;
      display: flex;
    }

    @media only screen and (min-width: 899px) {
      display: none;
    }
  }

  & #searchField {
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .searchContainer {
    width: 100%;
    padding: 0 0 0 0.5em;

    @media only screen and (max-width: 899px) {
      padding: 0 2.1em 0 2.8em;
    }
  }

  & .MuiDivider-root {
    display: flex;
  }

  & .desktopAvatar {
    display: flex;
    width: fit-content;

    @media only screen and (max-width: 899px) {
      display: none;
    }
  }
}

#navigation {
  background: transparent;
  height: 76px;

  @media only screen and (max-width: 900px) {
    height: 76px;
    position: absolute;
    top: 91vh;
    z-index: 9999;
    left: 0px;
    width: 100%;
    border-top: solid 1px #a3a0a0;
    background: #eeeeee;
  }

  & > button {
    color: #a3a3a3;
    height: inherit;
  }

  & > .Mui-selected {
    background: transparent;
    color: #0b3864;
  }
}

/* Modal */
.loginBtns {
  display: flex;
  justify-content: flex-end;
}

// Avatar
header > div > div:nth-child(6) > div > div > div {
  cursor: pointer;
  margin: 0 0 0 0.5em;
}

.css-1gewtc2-MuiPaper-root-MuiAppBar-root {
  background: rgba(238, 238, 238, 0.95) !important;
  backdrop-filter: blur(20px);
}

#search {
  & .MuiFormControl-root {
    border: solid 1px #d1d1d1;
    border-radius: 0.5em 0.5em 0 0;
  }

  & label {
    color: black;
  }

  & #searchBtn {
    background: transparent;
    border: 1px solid #b7b7b7;
    color: black;
    height: 56px;
  }
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header {
  background: blue;

  & .MuiGrid-container {
    justify-content: space-between;
  }
  & .logo-container {
    margin: 0 0 0 2.5em;

    @media only screen and (min-width: 899px) {
      max-width: fit-content;
    }

    & > a {
      display: flex;
      flex-direction: row;
      color: black;
      text-decoration: none;
      width: fit-content;

      & > h1 {
        padding: 0 0 0 0.5em;
        font-size: 1.5em;
      }
    }

    & > h1 {
      font-size: 1.5em;
    }
  }
}
