#logo {
  padding: 0 1em 0 0;
}

#navigation {
  background: transparent;
  height: 76px;

  & > button {
    color: #a3a3a3;
    height: inherit;
  }

  & > .Mui-selected {
    background: transparent;
    color: #0b3864;
  }
}

// Avatar
.css-gjjtwf-MuiBadge-root > div {
  cursor: pointer;
}

#search {
  & .MuiFormControl-root {
    border: solid 1px #d1d1d1;
    border-radius: 0.5em 0.5em 0 0;
  }

  & label {
    color: black;
  }

  & #searchBtn {
    background: transparent;
    border: 1px solid #b7b7b7;
    color: black;
    height: 56px;
  }
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-container {
  & > a {
    color: black;
    text-decoration: none;
  }

  & > h1 {
    font-size: 1.5em;
  }
}
