$border-radius: 2em;

#root,
html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  zoom: normal;
}
body {
  margin: 0;
  background-color: default;
  padding: 0 !important;
}

* {
  // border: 1px solid red; /* Used for error testing */
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  // Add's scrollbar so content doesn't shift if response takes time to load
  overflow-y: scroll !important;
}

.MuiInputLabel-root.Mui-focused {
  color: black !important;
}

.MuiInput-root > input {
  background: #eeeeee;
  border: solid 1px #c5c5c5;
  text-align: center;
  font-size: large;
}

.weather-widget {
  animation: weatherSlideDown 1s forwards ease-out;
  width: 79vw;

  & > .weatherwidget-io {
    width: 96.5vw;

    @media only screen and (min-width: 500px) {
      width: 98vw;
    }
    @media only screen and (min-width: 900px) {
      width: 70vw;
    }

    @media only screen and (min-width: 1200px) {
      width: 78.5vw;
    }
  }
}

@keyframes weatherSlideDown {
  0% {
    opacity: 0;
    top: 60px;
  }

  100% {
    opacity: 1;
    top: 60px;
    z-index: 0;
  }
}

.favoriteBtn > button {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💖</text></svg>")
      16 0,
    auto;

  // &:active {
  //   cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😁</text></svg>")
  //       16 0,
  //     auto;
  // }
}

#latestNews {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > div {
    border: 1px solid lightgray;
    align-items: center;
    width: 20%;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    @media only screen and (min-width: 600px) {
      width: 40%;
    }

    @media only screen and (min-width: 900px) {
      width: 30%;
    }

    @media only screen and (min-width: 900px) and (max-width: 1096px) {
      width: 40%;
    }
  }
}

.articleValue {
  &.active {
    color: white;
    border: solid green 1px !important;
    background: green !important;
  }
}

.publishedAt {
  font-size: small;
  margin: 1em;
}

.article {
  justify-content: left;
  border-radius: $border-radius;

  overflow-wrap: break-word;
  height: max-content;

  @media only screen and (min-width: 600px) {
    margin: 0.5em;
  }

  & .author {
    font-weight: bold;
  }

  & .articleID {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  & > .articleImageContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    & > a {
      width: inherit;

      & > .articleImage {
        width: inherit;
        max-height: 250px;
        border-radius: $border-radius;
        box-shadow: 1px 1px 5px 0 black;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  & > .articleDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    & > span {
      margin: 0 1em;
    }

    & > p {
      margin: 0 1em;
      min-height: 5em;
    }

    & > h2 {
      font-size: 1.3em;
      margin: 0 0.7em;
      min-height: 4em;
    }
  }

  .articleValue {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    font-size: 1.5em;
    background: #ffffff54;
    border-radius: $border-radius;
    padding: 1em 0;
    margin: 0.5em;
    border: solid #000000 1px;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
  }
}
