#root, html, body {
  height: 100vh;
}
body {
  margin: 0;
  background-color: default;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin: 0 1em 0 0;
  border-radius: 5px;
}

article.articleContainer > img {
  max-width: 300px;
}