$border-radius: 2em;

#root,
html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  background-color: default;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  // Add's scrollbar so content doesn't shift if response takes time to load
  overflow-y: scroll;
}

#latestNews {
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  & > div {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    align-items: center;
    width: 20%;
  }
}

.article {
  justify-content: left;
  align-items: flex-start;
  border: 1px solid black;
  border-radius: $border-radius;
  margin: 0.4em 1.5em;

  & .author {
    font-weight: bold;
  }

  & .articleID {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  & .publishedAt {
    font-size: small;
  }

  & > .articleImageContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    & > a {
      width: inherit;

      & > .articleImage {
        width: inherit;
        max-height: 184px;
        border-radius: $border-radius;
        box-shadow: 1px 1px 5px 0 black;
        object-fit: fill;
      }
    }
  }

  & > .articleDetails {
    padding: 0 1.5em 1.5em 1.5em;

    & > h2 {
      margin: 0;
    }
  }
}
