.sidebar {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 8vh;
  right: 0;
  flex-direction: column;
  background: #eeeeee;
  border: 1px solid lightgray;
  animation: slideDown 0.3s forwards ease-out;
  animation-delay: 1s;
  opacity: 0;

  & > div {
    animation: slideDown 0.3s forwards ease-out;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    opacity: 0;
  }

  & > .whosOnline {
    margin: 1em;
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: inherit;
  }

  & > h1 {
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    z-index: -9000;
  }

  100% {
    opacity: 1;
    top: 60px;
    z-index: 0;
  }
}
